

#heading{
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

#gameName{
    display: flex;
    padding-bottom: 100px;
    height: 20%;
    width: 100%;
    font-family: 'Nanum Brush Script';
    height:350px;
    text-align: center;
    font-size: 300px;
    font-weight: bold;
    
}

/* #buttonHousing{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    height: 20%;
    width: 100%;
    border: solid black 4px;
} */

#inputBox{
    width: 100%;
    background-color: rgb(247, 202, 239);
    size: 10px;
    border: solid rgb(97, 33, 84) 10px;
    color:black;
    /* padding-bottom: 10px; */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

input{
    background-color:white;
    size: 10px;
    border: solid black 10px;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

label{
    background-color: rgb(247, 202, 239);
    size: 10px;
    color: black;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

button {
    background-color: white;
    size: 10px;
    border: solid black 10px;
    color:black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



#background{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    background-image: url("/sakura.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 990px;
    width: 100%;
}

#displayImage{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: solid rgb(248, 170, 235) 10px;
    height: 40%;
    width: 59%;
}

#displayString{
    background-color: rgb(248, 170, 235);
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    border: solid rgb(248, 170, 235) 10px;
    height: 10%;
    width: 59%; 
    font-size: 24px;  
}


